*{

margin: 0;
padding: 0;

}

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&family=Handjet:wght@600&family=Inter:wght@100&family=Poor+Story&display=swap');

image{max-width: 50%;
    max-height: 50%
    }



.header{
display: flex;
text-align: center;
margin-bottom: 5%;
background: #2d330e;
width: 100vw;
height: 8vh;
flex-direction: row;
flex-wrap: wrap;
margin: auto;
color: #C3CB98;


}

.mag_glass{

    flex-wrap: wrap;
    width:10vw;
    height: 30px;
    margin: 1vw;
    background:white;
    justify-content: space-around;
    background-image:url("media/images/magnifying.png") ;
    background-position: center center;
    background-size:     cover;
    

}

.links{

    font-size: 1rem;
    align-items: center;
    display: none;
}


.logo h2{

font-size: 2rem;

}

.search{

/* flex: 1; */
flex-wrap: wrap;
width:25vw;
height: 30px;
margin: 1vw;
background:white;
justify-content: space-around;


}

/* .header-div:nth-of-type(1){
    
    position: absolute;
    top: 20px;
    right: ;
    left: 5%;
    width: 100px;
    height: 20px;
    background: #f65252;
} */


.flex-img{

display: flex;
width: 100vw;
height: 100vh;
background:white;
margin-top: 0;
flex-wrap: wrap;
justify-content: space-around;
/* align-items: center; */
display:inline-block;
float: center;
/* flex-direction: column; */

}


.img-holder-1{

width: 100vw;
height: 55vw;
max-width: 400px;
max-height: 400px;
background: lightgray;
border-radius: 0%;
background-image: url("media/images/spiderman_party.jpg") ;
background-position: center center;
background-size:     cover;

}
.img-holder-2{

    width: 100vw;
    height: 55vw;
    max-width: 400px;
    max-height: 400px;
    background: #C3CB98;
    border-radius: 0%;
    background-position: center center;
    background-size:     cover;
   
    }
    .img-holder-3{

        width: 100vw;
        height: 55vw;
        max-width: 400px;
        max-height: 400px;
        background: lightgray;
        border-radius: 0%;
        background-image:url("media/images/losing_spelling_bee.jpg") ;
        background-position: center center;
        background-size:     cover;
        
        }



.img-holder:nth-of-type(1){

background-image: url("media/images/spiderman_party.jpg") ;


}

/* .img-holder:nth-of-type(3){
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 40px;
    background: #c3cb98;
    max-width: 400px;
    max-height: 250px;
            
} */

/* .img-holder:nth-of-type(1){

background-image:url("media/images/losing_spelling_bee.jpg") ;

} */

.tweet-box{

    background: white;
    margin: 0%;
    padding: 5%;
}

 .social-buttons{

    width: 100px;
    height: 50px;
    margin: 2%;
background-color: white;

}


/* ****************about page*************** */
.family1{

    
}
.family2{

    display: none;
}
.about_1{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
    background-color: white;

}

.about_picture1{

    width: 25vh;
    height: 25vh;
    background-image: url("media/images/fake_infograph.jpg");
    background-position: center center;
    background-size:     cover;
    margin: 5%;
}
.description{

    width: 50vw;
    height: 40vh;
    margin: auto;
    font-family: 'inter','wght',sans-serif;
    
    
}

.about_2{
display: flex;

width: 100vw;
height: 20vh;
background-color: #C3CB98;
margin-top: 5%;
margin-bottom: 5%;


}

.about_text{
display: flex;
margin: auto;
width: 50vw;
height: 33vh;
background-color: white;
margin-left: 3%;



}

.about_3{
display: flex;
flex-direction: column-reverse;
width: 100vw;
height: 50vh;
background-color: white;


}

.about_picture2{

    width: 25vh;
    height: 25vh;
    background-image: url("media/images/fake_infograph2.jpg");
    background-position: center center;
    background-size:     cover;
    margin: 5%;

}




/*************DESKTOP VERSION***********/

@media screen and (width >= 1366px) {
    
html{

    font-size: 125%;

}

 .flex-img{
/* display: flex;        
background:white;
flex-direction: column;
flex-wrap: wrap;
height: 50vh;
width: 10vw;

align-items: center;
justify-content: center; */


    }

.header{


height: 10vh;


}

.links{

    font-size: 1rem;
    align-items: center;
    display: block;
}

.flex-img{

    
}


.img-holder{

    
margin: 1%;

} 

.area-1{
    width:100vw;
}

/* *************about page desktop********** */

.family1{

    display: none;
}

.family2{
    display: block;
    flex-direction: row;
}

.about_1{

    font-size: 2rem;
}

.about_picture1{
margin-top: 1%;
width: 40vw;
height: 30vh;

}

.about_3{

    font-size: 2rem;
}

.about_picture2{
width: 40vw;
height: 30vh;
margin-top: 1%;


}

.about_text{
    display: flex;
    font-size: 2rem;
    margin: auto;
    width: 50vw;
    height: 33vh;
    background-color: white;


}

}